.dashboard-product
    display: flex
    flex-direction: row
    gap: 30px
    margin: 30px
    image-container
        height: 80px
        width: 80px
    product-image
        object-fit: cover
        height: 100%
