.add-product-container
    .form
        display: flex
        flex-direction: row
        gap: 10px
    .picture-container
        display: flex
        flex-direction: row
        width: 33%
        .image-container
            width: 33%
            .product-images
                background-color: #d8d8d8
        .cover-container
            width: 67%
            .product-cover
                background-color: #d8d8d8
    .input-container
        width: 67%
