@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */


.header{
  display: flex;
  justify-content: space-between;
  background-color: pink;
  align-items: center;
  padding: 10px 30px;
}

.header .items{
  display: flex;
  gap: 25px;
  color: white;
  }

.sidebar{
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: large;
}

.dashboard-container{
  display: flex;
}

.dashboard-product{
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 30px;

}
.dashboard-image-container{
  height: 80px;
  width: 80px;
}
.dashboard-product-image{
  object-fit: cover;
  height: 100%;
}